.Die {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
